<div class="panel panel-warning">
	<div class="panel-heading">
		Editar Banco
	</div>

	<div class="panel-body">
		<%= render 'form', banco: @banco %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Voltar', bancos_path, class: "btn btn-warning" %>
	</div>
</div>