<div class="panel panel-warning">
	<div class="panel-heading">
		Novo Grupo
	</div>

	<div class="panel-body">
		<%= render 'form', grupo: @grupo %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Voltar', grupos_path, class: "btn btn-warning" %>
	</div>
</div>